name: Deploy Docker App to EC2

on:
  push:
    branches:
      - main
    paths:
      - "index.html"
      - "Dockerfile"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker image
      run: |
        docker build -t my-nginx-image .

    - name: Save image to tar
      run: |
        docker save my-nginx-image -o my-nginx-image.tar
        
    - name: Make tar world-readable (fixes SCP tar read issues)
      run: |
        ls -l my-nginx-image.tar
        chmod 644 my-nginx-image.tar
        ls -l my-nginx-image.ta

    - name: Copy image to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "my-nginx-image.tar"
        target: "/home/ubuntu/"

    - name: Deploy over SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker stop my-nginx-container || true
          docker rm my-nginx-container || true
          docker load -i my-nginx-image.tar
          docker run -d -p 80:80 --name my-nginx-container my-nginx-image
